Options -MultiViews
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^ index.html [QSA,L]


RewriteEngine on
RewriteCond %{HTTPS} off
RewriteCond %{HTTP:X-Forwarded-SSL} !on
RewriteCond %{HTTP_HOST} ^foodforthenations\.com$ [OR]
RewriteCond %{HTTP_HOST} ^www\.foodforthenations\.com$
RewriteRule ^/?$ "https\:\/\/foodforthenations\.com\/" [R=301,L]
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.html [QSA,L]


