.email,
.name,
.address,
.address2,
.city,
.state,
.zip,
.textarea {
   padding: 0 0.3rem;
   margin: 0.3rem 0;
}

.error {
   fill: #ffd23b;
   width: 24px;
   height: 21px;
}

.email,
.name {
   display: flex;
   justify-content: center;
   align-items: center;
   height: 2rem;
}

.contact {
   font-size: 2rem;
   font-weight: bold;
   color: black;
   text-shadow: 1px 1px 2px rgb(31, 107, 149);
}

.contactTitleWrapper {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   align-content: center;
   height: 128px;
   background: url("../../images/banner2.jpg");
   background-size: cover;
   margin-top: -0.3rem;
}

.cardWrapper {
   background-color: #5b2443;
   padding: 3rem 1rem 1rem 1rem;
}

.btn {
   background-color: #af96a3;
   margin: 1rem 0 1rem 0;
   width: 10rem;
   color: white;
}

.btn:hover {
   background-color: black;
   color: white;
}
.footer {
   font-size: 0.85rem;
   text-align: center;
   color: white;
   background-color: #af96a3;
   padding: 0.5rem 0;
}

@media screen and (min-width: 375px) {
   .contact {
      font-size: 2.5rem;
   }
   .contactTitleWrapper {
      background-size: cover;
      background-position: center 150px;
   }
}

@media screen and (min-width: 600px) {
   .contact {
      font-size: 3rem;
   }
   .contactTitleWrapper {
      background-size: cover;
      background-position: center 200px;
      margin-top: -0.8rem;
   }
}

@media screen and (min-width: 768px) {
   .contactTitleWrapper {
      margin-top: -1.3rem;
   }
}

@media screen and (min-width: 1024px) {
   .contactTitleWrapper {
      margin-top: -1.9rem;
   }
}
@media screen and (min-width: 1280px) {
   .contact {
      font-size: 5rem;
   }
}
