*p {
   font-family: arial black, arial-w01-black, arial-w02-black, arial-w10 black,
      sans-serif;
}

.cardWrapper {
   padding: 1.3rem 1.3rem 3rem 1.3rem;
   border-radius: 0;
   /* background: url("../../images/small/power-washing-floor-sm.jpg") center right -741px;
   background-size: cover; */
   display: flex;
   justify-content: center;
}

.innerCardWrapper {
   text-align: center;
}

.cardBody {
   display: flex;
   flex-direction: column;
   align-items: center;
   padding: 2rem 1.5rem;
   background: rgb(255, 255, 255);
   background: linear-gradient(
      0deg,
      rgba(255, 255, 255, 1) 0%,
      rgba(255, 255, 255, 0.5206874986322654) 125%,
      rgba(2, 0, 36, 0) 100%
   );
   box-shadow: 0 1px 5px rgb(0 0 0 / 83%);
   backdrop-filter: blur(1.52px);
}

.logo {
   width: 100%;
   margin-bottom: 1rem;
   box-shadow: 0 1px 2px rgba(0, 0, 0, 47%);
}

.subText,
.smSubText {
   color: black;
   text-shadow: 0 0 #377d85;
}

.smSubText {
   line-height: 1.2rem;
}

.slogin {
   font-size: 1.5rem;
   font-weight: bold;
   color: black;
}

.servicesWrapper {
   display: block;
   border: 1px solid black;
   background: black;
   border-radius: 0.5rem;
   margin-top: 0.5rem;
   color: white;
   padding: 0.5rem 0;
}

.exteriorText {
   font-size: 1.5rem;
   line-height: 1.5rem;
   font-weight: bold;
   color: black;
   padding-bottom: 1rem;
}

.hr {
   border: 0.1rem solid black;
   width: 12rem;
   opacity: 8;
   margin: 4px;
}

.subText {
   font-size: 1.2rem;
   line-height: 1.3rem;
}

.btn {
   background-color: black;
   border: none;
}

.btn:hover {
   background-color: #3a8a93;
   border: none;
}

.divide {
   margin-top: -2rem;
}

.divideLarge {
   display: none;
}

@media screen and (min-width: 375px) {
   .slogin {
      font-size: 2.1rem;
      padding-bottom: 1rem;
   }
   .servicesWrapper {
      padding: 0.5rem 0.3rem;
   }
}

@media screen and (min-width: 414px) {
   .slogin {
      font-size: 2rem;
   }
}

@media screen and (min-width: 576px) {
   .logo {
      max-width: 30rem;
   }
}

@media screen and (min-width: 600px) {
   .slogin {
      font-size: 3.4rem;
      padding: 0 0 0 1rem 0;
   }
   .exteriorText {
      font-size: 2rem;
      padding-top: 1.2rem;
   }
   .cardWrapper {
      background-position: center right -650px;
   }
   .divide {
      display: none;
   }
   .divideLarge {
      display: inherit;
      margin-top: -2rem;
   }
   .servicesWrapper {
      padding: 0.5rem 2rem;
   }
}

@media screen and (min-width: 768px) {
   .exteriorText {
      font-size: 2.5rem;
      padding-top: 1.2rem;
   }
   .cardWrapper {
      background-position: center;
   }
   .divideLarge {
      display: inherit;
      margin-top: -3.7rem;
   }
   .servicesWrapper {
      padding: 0.5rem 2rem;
   }
}

@media screen and (min-width: 998px) {
   .servicesWrapper {
      padding: 0.5rem 8rem;
   }
}

@media screen and (min-width: 1024px) {
   .cardWrapper {
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
   }
   .innerCardWrapper {
      padding-bottom: 4rem;
   }
   .divideLarge {
      margin-top: -3.7rem;
   }
}

@media screen and (min-width: 1200px) {
   .cardBody {
      max-width: 44rem;
   }

   .divideLarge {
      margin-top: -4.3rem;
   }
   .servicesWrapper {
      padding: 0.5rem 4rem;
   }
}

@media screen and (min-width: 1400px) {
   .divideLarge {
      margin-top: -4.3rem;
   }
   .servicesWrapper {
      max-width: 70rem;
   }
}

@media screen and (min-width: 1366px) {
   .divideLarge {
      margin-top: -4.2rem;
   }
}

@media screen and (min-width: 1920px) {
   .divideLarge {
      margin-top: -4.8rem;
   }
}
