.list-group {
   --bs-list-group-bg: #55c5d1;
   --bs-list-group-color: white;
   text-shadow: black 1px 0px 6px;
   display: flex;
   flex-wrap: nowrap;
   flex-direction: column;
}

.list-group-item:first-child {
   border-top-left-radius: inherit;
   border-top-right-radius: inherit;
   padding: 2rem;
   margin-bottom: 0.2rem;
}

.list-group-item:last-child {
   border-bottom-right-radius: inherit;
   border-bottom-left-radius: inherit;
   padding: 2rem;
   margin-bottom: 0.2rem;
}

.list-group-item + .list-group-item {
   border-top-width: 0px;
   padding: 2rem;
   margin-bottom: 0.2rem;
}

.list-group-item:first-child {
   background-image: url("../../images/deck-background.jpg");
   background-size: cover;
}

.list-group-item:nth-child(2) {
   background-image: url("../../images/driveway-background2.jpg");
   background-size: cover;
}

.list-group-item:nth-child(3) {
   background-image: url("../../images/exterior-home-background.jpg");
   background-size: cover;
}

.list-group-item:last-child {
   background-image: url("../../images/window-background.jpg");
   background-size: cover;
}

.divOne {
   background: url("../../images/small/before-1-small.jpg");
   background-size: cover;
   width: 500px;
   height: 500px;
}

.contactBody {
   background: #55c5d1;
   color: white;
}

@media screen and (min-width: 414px) {
   .list-group-item:nth-child(3),
   .list-group-item:last-child,
   .list-group-item:first-child {
      background-position: center bottom -79px;
   }
}

@media screen and (min-width: 768px) {
   .list-group {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      border-radius: 1rem;
   }

   .list-group-item:first-child,
   .list-group-item:last-child,
   .list-group-item + .list-group-item {
      border-radius: inherit;
   }

   .list-group-item:first-child {
      padding: 5rem 5rem 5rem 6rem;
      width: 14rem;
      background-position: center;
   }

   .list-group-item:nth-child(2) {
      padding: 5rem 4.5rem 4.5rem 5rem;
      margin-left: 1rem;
      width: 14rem;
      background-position: center;
   }

   .list-group-item:nth-child(3) {
      padding: 5.5rem 1.5rem 5.5rem 4rem;
      margin-right: 1rem;
      width: 14rem;
      background-position: center;
   }

   .list-group-item:last-child {
      padding: 5.5rem 1.5rem 5.5rem 3rem;
      margin-right: 1rem;
      width: 14rem;
      background-position: center;
   }
}

@media screen and (min-width: 1024px) {
   .list-group {
      display: flex;
      flex-wrap: nowrap;
      flex-direction: row;
   }

   .list-group-item:first-child {
      padding: 9rem 4rem 4rem 5rem;
      background-position: center bottom;
   }

   .list-group-item:nth-child(2) {
      padding: 9rem 4rem 4rem 4rem;
      background-position: center bottom;
      margin-right: 1rem;
   }

   .list-group-item:nth-child(3) {
      padding: 9rem 1rem 5rem 3.5rem;
      width: 19rem;
      background-position: center left -7px;
   }

   .list-group-item:last-child {
      padding: 9rem 1rem 8rem 2rem;
      width: 19rem;
      background-position: center bottom;
   }
}
