.bannerBox {
   display: flex;
   align-items: center;
   height: 4rem;
   background-color: white;
   font-size: 1rem;
   color: black;
   line-height: 1.1rem;
   font-weight: bold;
   text-align: center;
   text-transform: uppercase;
}

@media screen and (min-width: 600px) {
   .bannerBox {
      font-size: 1.3rem;
      line-height: 1.2rem;
   }
}

@media screen and (min-width: 728px) {
   .bannerBox {
      font-size: 1.6rem;
      line-height: 1.7rem;
      padding: 0 5rem;
   }
}

@media screen and (min-width: 730px) {
   .bannerBox {
      font-size: 1rem;
      line-height: 1rem;
      padding: 0 5rem;
   }
}

@media screen and (min-width: 1024px) {
   .bannerBox {
      font-size: 1.25rem;
      line-height: 1.8rem;
      height: 2.5rem;
      justify-content: center;
   }
}
